<div class="col s3" id="dashboard-sidebar">

    <div class="dashboard-welcome">
      <div class="dashboard-welcome-content">
        <h5>Welcome, <%= current_user.name %>!</h5>
        <p><%= current_user.email %></p>
        <p><%= current_user.phone_number %></p>
      </div>
    </div>
    <div class="dash-sidebar-links">
      <a href="/spots", class="waves-effect btn #ef6c00 orange darken-3", id="become-host-button"><i class="small material-icons">directions_car</i>Park Now</a>
      <a class="waves-effect btn #42a5f5 blue lighten-1 modal-trigger" href="#modal1", id="become-host-button"><i class="small material-icons">add_location</i>Become A Host</a>
      <div class="dash-sublinks-container">
      <i class="small material-icons">bookmark</i><li><a class="dash-sublinks" href="/bookings">Bookings</a></li>
      <i class="small material-icons">monetization_on</i><li><a class="dash-sublinks" href="#">Earnings</a></li>
      <i class="small material-icons">thumb_up</i><li><a class="dash-sublinks" href="#">Refer A Friend</a></li>
      <i class="small material-icons">local_phone</i><li><a class="dash-sublinks" href="#">Support</a></li>
      <i class="small material-icons">edit</i><li><a class="dash-sublinks" href="#">Edit your profile</a></li>
      </div>
    </div>
</div>
