@import "materialize";

html, body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin-top: -1vh;
}
/* General Page Styling Info */
.page-subheader {
  font-size: 20px;
  color: #787878;
}
.mobile-header-section {
  text-align: center;
}

/* Navigation */
nav {
  background-color: rgba(0,0,0,0.45);
  height: 12vh;
}

.nav-wrapper {
    transition: 0.2s all linear;
}

.nav-wrapper.alt-color {
    background-color: #000;
}

/* hamburger menu icon */
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 40px;
  margin-top: 1.8vh;
}

/* Home Page First Section */
.background-image {
  background-image: url('drivewaze_background2.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.headline {
  font-family: Lato;
  font-weight: 300;
  letter-spacing: 0.34px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 2rem;
}
#subheadline {
  margin-bottom: 3rem;
  font-size: 26px;
}

#parkbutton {
  height: 4rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 24px;
  padding-top: 0.7rem;
}
/* End Home page First Section */


/* Home Page Section 2 */
.section2 {
  height: 1300px;
  width: 100%;
  padding: 2rem;
}

#process {
  text-align: center;
  margin-top: 5rem;
}
.icon-heading {
  font-weight: 700;
}
.icon-description {
  color: #787878;
  font-size: 18px;
}
.icon1, .icon2, .icon3 {
  text-align: center;
  margin-top: 5rem;
}

/* End Home Page Section 2 */

/* Home Page Section 3 (Testimonials) */
.section3 {
  position: relative;
  height: 925px;
  width: 100vw;
  background-color: #1B9CE5;
  color: #ffffff;
  padding: 2rem;

  &:before,
  &:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    top: 0;
    transform: skewY(3.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
  }
}

/* Testimonials */
.testimonials {
  text-align: center;
  margin-top: 4rem;
}
.testimonial-photo {
  border-radius: 100%;
  border: 2px solid #fff;
  margin-top: 3rem;
}
.testimonial-text {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}
.testimonial-name {
  font-size: 18px;
  font-weight: bold;
}
.testimonial-stars {
  margin-bottom: 0;
}
/* End Testimonial section */

/* Home Page Map Section */
.map-section {
  height: 800px;
  width: 100%;
  text-align: center;
}
#map-section-headline {
  margin-top: 5rem;
}
#map-section-subheadline {
  font-size: 18px;
  color: #787878;
}
#gmap-home {
  margin: 1rem 0rem;
}


/* End Home Page Map Section */

/* Login page */
.login-form {
  margin-top: 3rem;
}
#form-buttons {
  margin: 1rem 0rem;
}


/* Dashboard */

.dashbackground {
  background-color: #fff;
}
.dashsection1 {
  text-align: center;
}
.dashsection3 {
  margin-top: 5em;
  padding: 0 0.75rem;
}



/* End Dashboard Styling */


/* Feed Page */
.spot-info {
  font-size: 20px;
  color: #787878;
}
input#zip {
  width: 50%;
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  height: 48px;
  font-size: 22px;
  box-shadow: none;
  padding: 0rem 1rem;
}
#search-button {
  border-radius: 20px;
  height: 44px;
  margin-bottom: 1vh;
}


/* Pagination */
.pagination {
  text-align: center;
  background-color: #1B9CE5;
  padding-top: 1rem;
}
.page, .first, .prev, .next, .last {
  font-size: 20px;
}
/* Google Map */
.gmap {
  height: 200px;

}
