@import "materialize";

html, body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin-top: -1vh;
}
/* General Page Styling Info */
.page-subheader {
  font-size: 20px;
  color: #787878;
}
.mobile-header-section {
  text-align: center;
}

/* Navigation */
nav {
  background-color: rgba(0,0,0,0.65);
  height: 12vh;
  box-shadow: none;
}

.nav-wrapper {
    transition: 0.2s all linear;
}

.nav-wrapper.alt-color {
    background-color: #000;
}
body > nav > div > div > ul.right.hide-on-med-and-down > li > a {
  font-size: 20px;
  padding: 0.5rem;
}

/* hamburger menu icon */
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 40px;
  margin-top: 1.8vh;
}

/* Home Page First Section */
.background-image {
  background-image: url('drivewaze_background2.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.headline {
  font-family: Lato;
  font-weight: 300;
  letter-spacing: 0.34px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 2rem;
}
#subheadline {
  margin-bottom: 3rem;
  font-size: 26px;
}

#parkbutton {
  height: 4rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 24px;
  padding-top: 0.7rem;
}
/* End Home page First Section */


/* Home Page Section 2 */
.section2 {
  height: 1300px;
  width: 100%;
  padding: 2rem;
}

#process {
  text-align: center;
  margin-top: 5rem;
}
.icon-heading {
  font-weight: 700;
}
.icon-description {
  color: #787878;
  font-size: 18px;
}
.icon1, .icon2, .icon3 {
  text-align: center;
  margin-top: 5rem;
}

/* End Home Page Section 2 */

/* Home Page Section 3 (Testimonials) */
.section3 {
  position: relative;
  height: 925px;
  width: 100vw;
  background-color: #1B9CE5;
  color: #ffffff;
  padding: 2rem;

  &:before,
  &:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    top: 0;
    transform: skewY(3.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
  }
}

/* Testimonials */
.testimonials {
  text-align: center;
  margin-top: 4rem;
}
.testimonial-photo {
  border-radius: 100%;
  border: 2px solid #fff;
  margin-top: 3rem;
}
.testimonial-text {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}
.testimonial-name {
  font-size: 18px;
  font-weight: bold;
}
.testimonial-stars {
  margin-bottom: 0;
}
/* End Testimonial section */

/* Home Page Map Section */
.map-section {
  height: 600px;
  width: 100%;
  text-align: center;
}
#map-section-headline {
  margin-top: 5rem;
}
#map-section-subheadline {
  font-size: 18px;
  color: #787878;
}
#gmap-home {
  margin: 1rem 0rem;
  width: 90%;
}


/* End Home Page Map Section */

/* Footer */

.page-footer {
  background-color: rgba(0,0,0,0.45);
}

/* End Footer */

/* Login page */
.login-form {
  margin-top: 3rem;
}
#form-buttons {
  margin: 1rem 0rem;
}


/* Dashboard */

.dashbackground {
  background-color: #fff;
}
.dash-search-bar {
  margin: 1rem 1rem;
  width: 70%;
  text-align: center;
}

.dashboard-welcome {
  border-bottom: 2px solid #ccc;
  height: 20%;
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
}
.dashboard-welcome-content {
  padding: 1rem;
  width:  50%;
  display: inline-block;
}
#dashboard-delete-button {
  width: 32%;
  color: #ef6c00;
  font-size: 18px;
}
#dashboard-hosting-button {
  width: 100%;
  color: #222;
  padding: 0.3rem;
  margin: 2rem 0rem;
}
#hosting-spots-card {
  padding: 16px 10px;
}
.user-host-title {
  text-align: center;
  font-size: 28px;
}
.dash-sidebar-links {
  list-style: none;
  padding: 1rem;
}
.small.material-icons {
  float: left;
}
#dashboard-sidebar {
  height: 100vh;
  padding: 0;
  min-width: 270px;

  -webkit-box-shadow: 10px 10px 29px -8px rgba(119,119,119,1);
  -moz-box-shadow: 10px 10px 29px -8px rgba(119,119,119,1);
  box-shadow: 10px 10px 29px -8px rgba(119,119,119,1);
}
#sidebar-container {
  text-align: left;
}
#become-host-button {
  height: 3rem;
  width: 100%;
  margin: 1rem 0rem;
  padding-top: 0.3rem;
  min-width: 200px;
}
.dash-sublinks {
  list-style: none;
  font-size: 16px;
  color: #222;
  font-weight: 800;
  line-height: 3rem;
}
body > div.dashbackground > div.row > div > div > div.col.s9 {
  width: 70%;
}
#dash-container {
  width: 90%;
}
.refer-a-friend {
  padding: 0.5rem;
}
.card.small {
  height: 275px;
}
.dashboard-user-photo {
  float: right;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
  margin: 1rem 1rem;
}
.dashboard-user-photo > p {
  margin: 2.2rem;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
.modal.modal-fixed-footer {
  height: 80vh;
}
.modal {
  max-height: 100%;
}
input, input.focus {
  -webkit-box-shadow: none;
  border-bottom: none;
  box-shadow: none;
}
#spot_street:active, #spot_street:focus, #spot_zip:active, #spot_zip:focus, #spot_city:active,
#spot_city:focus, #spot_price:active, #spot_price:focus, #spot_description:active, #spot_description:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #1FA0FC;
}


/* End Dashboard Styling */


/* Feed Page */
.spot-info {
  font-size: 20px;
  color: #787878;
}
input#zip {
  width: 50%;
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  height: 48px;
  font-size: 22px;
  box-shadow: none;
  padding: 0rem 1rem;
}
#search-button {
  border-radius: 20px;
  height: 44px;
  margin-bottom: 1vh;
}
#available-times {
  display: inline-flex;
}
.time-select {
  margin: 0rem 0.5rem;
  text-align: center;
}


/* Pagination */
.pagination {
  text-align: center;
  background-color: #1B9CE5;
  padding-top: 1rem;
}
.page, .first, .prev, .next, .last {
  font-size: 20px;
}
/* Google Map */
.gmap {
  height: 200px;
}
#mapDash {
  height: 40vh;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ccc;
}
.dash-reservations {
  margin-top: 1rem;
}

// Sliding CSS3 Animation
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ----- MEDIA QUERIES ------ */
@media only screen and (min-width: 650px) {
  // Desktop top section
  .headline {
    text-align: left;
    padding: 20vh 30vh;
    animation: 1.1s ease-out 0s 1 slideInFromLeft;
  }
  #subheadline {
    width: 60%;
    font-size: 36px;
  }
  #parkbutton {
    min-width: 225px;
    width: 25%;
  }
  #arrow {
    display: none;
  }
  .section2 {
    text-align: center;
    height: 85vh;
  }
  .icon1, .icon2, .icon3 {
    display: inline-block;
    position: relative;
    width: 25%;
    margin: 3rem 2rem;
  }
  .section3:before, .section3:after {
    transform: none;
    transform-origin: 0;
  }
  .section3 {
    height: 75vh;
  }
  #testimonial-headline {
    text-align: center;
  }
  #review-slider {
    height: 35vh!important;
  }
  .center {
    margin-top: 5vh;
  }
  .carousel.carousel-slider{
    margin: 0 auto;
    width: 40%;
    padding: 0rem 2rem;
  }
  .carousel.carousel-slider .carousel-item p {
    font-size: 26px;
  }
  // Section 4 (map section)
  #section4 {
    margin-top: 10vh;
  }
  #section4-text {
    text-align: left;
  }
}

// Testimonial section home page (tablet & mobile)
@media only screen and (max-width: 893px) {
  .section3 {
    height: 1000px;
  }
}
