<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DriveWaze</h5>
        <p class="grey-text text-lighten-4">Easy and affordable parking</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Legal info</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 DriveWaze
    </div>
  </div>
</footer>
